:root{

    --cor0: #282A36;
    --cor1: #6272A4;
    --cor2: #44475A;
    --cor3: #FFB86C;
    --cor4: #8BE9FD;
    --cor5: #BD93F9;
}



nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

#code-home{
    font-size: 50px;
}

menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
}

#burguer{
    display: block;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 2px solid rgba(79, 49, 83, 0.349);
    border-radius: 45px;
    transition: all 0.3s ease-in-out;
}

#burguer:hover{
    transition: all 0.3s ease-in-out;
    background-color: rgba(137, 43, 226, 0.5);
}

@media screen and (min-width:768px) {
    #burguer{
        display: none;
    }

    menu{
        display: flex;
    }
}
.iten-box{
    text-align: center;
    padding: 10px;
    width: 100px;
    border: 2px solid rgba(79, 49, 83, 0.349);
    border-radius: 45px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.iten-box > a{
    text-decoration: none;
    color: white;
}

.iten-box:hover{
    transition: all 0.5s ease-in-out;
    transform: translate(10px);
    background-color: rgba(137, 43, 226, 0.5);
}

.fundo-foto-pessoal{
    margin: 30px 0px 30px 0px;
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-radius: 40% 60% 65% 35% /
    40% 35% 65% 60%;
    background-color: chocolate;
}

.foto-pessoal{
    transform: translate(-20%, 10%);
    position: absolute;
    margin: 30px 0px 30px 0px;
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-radius: 40% 60% 65% 35% /
    40% 35% 65% 60%;
    background-color: aqua;
}


main{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid red;
    padding: 8px;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.aprentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaque{
    border: 2px solid var(--cor2);
    border-radius: 45px;
    padding: 20px;
    width: 1200px;
    
}

.habilidades, .sobre-mim{ /* fazendo a base ser para dispositiveis moveis */
    width: 530px;
}

.sobre-mim > p{
    text-indent: 30px;
    text-align: justify;
}

.habilidades{
    display: flex;
    flex-direction: column;
}

.habilidades > h2{
    margin-bottom: 20px;
}

.habilidade{
    border: 1px solid red;
    border-radius: 45px;
    align-items: center;
    padding: 8px;
    margin: 6px;
}

.frotend-box{
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
    gap: 15px;
    padding: 10px;
}

.descricao{
    display: flex;
    border: 1px solid rgb(255, 145, 0);
    padding: 5px;
    gap: 10px;
    text-indent: 10px;
}

.image-letf{
    display: flex;
    align-items: center;
}

img{
    width: 100px;
}

.titulo-descricao{
    font-size: 25px;
    text-align: justify;
}

.descricao > p{
    padding: 10px;
}

.image-letf{
    border: 1px solid limegreen;
}

/*
.colunas{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.colunas > .coluna{
    width: calc(40% - 7.5px);
}
*/


footer{
    justify-content: center;
    background-color: #00000056;
    padding: 15px;
}